In [6]:
import pandas as pd

In [94]:
ventas = pd.Series([5,10,15,30], name="Ventas", index=["Camisa", "Pantalon", "Zapatos", "Calcetas"])
ventas

Camisa       5
Pantalon    10
Zapatos     15
Calcetas    30
Name: Ventas, dtype: int64

In [87]:
cantidad = pd.Series([5,8,1,9], name="Cantidad", index=["Camisa", "Pantalon", "Zapatos", "Calcetas"])
cantidad

Camisa      5
Pantalon    8
Zapatos     1
Calcetas    9
Name: Cantidad, dtype: int64

In [106]:
total = ventas * cantidad
total.name = "Total"
total

Camisa       25
Pantalon     80
Zapatos      15
Calcetas    270
Name: Total, dtype: int64

In [107]:
cantidad["Camisa": "Zapatos"]

Camisa      5
Pantalon    8
Zapatos     1
Name: Cantidad, dtype: int64

In [108]:
cantidad.name

'Cantidad'

In [109]:
cantidad.index

Index(['Camisa', 'Pantalon', 'Zapatos', 'Calcetas'], dtype='object')

In [110]:
9 in cantidad.values

True

In [111]:
cantidad[0:3]

Camisa      5
Pantalon    8
Zapatos     1
Name: Cantidad, dtype: int64

In [112]:
cantidad > 5

Camisa      False
Pantalon     True
Zapatos     False
Calcetas     True
Name: Cantidad, dtype: bool

In [113]:
cantidad[cantidad >= 5]

Camisa      5
Pantalon    8
Calcetas    9
Name: Cantidad, dtype: int64

In [114]:
df = pd.DataFrame({"ventas": ventas, "cantidad": cantidad, "total": total}, index=["Camisa", "Pantalon", "Zapatos", "Calcetas"])
df

          ventas  cantidad  total
Camisa         5         5     25
Pantalon      10         8     80
Zapatos       15         1     15
Calcetas      30         9    270

In [115]:
data = [ventas, cantidad, total]
dfff = pd.DataFrame(data=data)
dfff

          Camisa  Pantalon  Zapatos  Calcetas
Ventas         5        10       15        30
Cantidad       5         8        1         9
Total         25        80       15       270

In [117]:
df.loc[:, ["cantidad", "total"]]

          cantidad  total
Camisa           5     25
Pantalon         8     80
Zapatos          1     15
Calcetas         9    270

In [118]:
df.iloc[:5, [1,2]]

          cantidad  total
Camisa           5     25
Pantalon         8     80
Zapatos          1     15
Calcetas         9    270

In [119]:
df.loc[df.loc[:, "ventas"] > 20]

          ventas  cantidad  total
Calcetas      30         9    270

In [121]:
df.loc[df.loc[:, "ventas"] > 20] ["ventas"].count()

np.int64(1)