In [1]:
import pandas as pd

In [5]:
temperaturas = pd.Series([28,30,27,29,31], name="Temperaturas", index=["Lunes", "Martes", "Miercoles", "Jueves", "Viernes"])
temperaturas

Lunes        28
Martes       30
Miercoles    27
Jueves       29
Viernes      31
Name: Temperaturas, dtype: int64

In [6]:
temperaturas["Miercoles"]

np.int64(27)

In [7]:
temperaturas["Lunes":"Miercoles"]

Lunes        28
Martes       30
Miercoles    27
Name: Temperaturas, dtype: int64

In [8]:
temperaturas[temperaturas > 28]

Martes     30
Jueves     29
Viernes    31
Name: Temperaturas, dtype: int64

In [9]:
temperaturas[temperaturas > 27]

Lunes      28
Martes     30
Jueves     29
Viernes    31
Name: Temperaturas, dtype: int64

In [ ]:
#Update
temperaturas["Miercoles"] = 25
temperaturas["Miercoles"]

np.int64(25)

In [ ]:
#Delete
del temperaturas["Viernes"]
temperaturas

Lunes        28
Martes       30
Miercoles    25
Jueves       29
Name: Temperaturas, dtype: int64

In [16]:
df = pd.DataFrame({"temperaturas": temperaturas})